// main layout wrap
.idea-factory--wrap {
    .clearfix();
}

// submit area
.idea-factory--layout-submit {
    .clearfix();
    margin:@entry--margin;
    padding:@entry--padding;
    border-bottom:1px solid @border-color;

    .idea-factory--submit-left,
    .idea-factory--submit-right {
        float: left;
    }

    .idea-factory--submit-left {
        .if-column(9);
    }
    .idea-factory--submit-right {
        .if-column(9);
    }
}

// main alyout
.idea-factory--layout-main {

}


// main article
.idea-factory--entry-wrap {
    .clearfix();
}

// entry wrap
.idea-factory--entry-wrap {
    padding:@entry--wrap_padding;
}

// entry inner
.idea-factory--entry {
    font-size:@entry--font_size;
    line-height: @entry--font_lineheight;
    h2 {
        margin:0 auto;
        font-size:@entry--title_fontsize;
        line-height: @entry--title_lineheight;
        font-weight:bold;
    }
}

// vote controls
.idea-factory--controls,
.idea-factory--entry {
    float: left;
}
.idea-factory--controls {
    width:100px;
    text-align: center;
    border-right:1px solid @border-color;
    margin-right:25px;

    &.voted {
        font-size:85%;
        display:block;
        line-height:1;
    }
}

// vote controls
.vote-up,
.vote-down {
    position:relative;
    overflow: hidden;
    height:0;
    display:inline-block;
    height:30px;
    width:30px;

    &:after {
        font-family:Dashicons;
        position:absolute;
        left:0;
        top:0;
    }
}
.vote-up:after {
    content:'\f132';
    color:@green;

}
.vote-down:after {
    content:'\f460';
    color:@red;
}
.ah-thanks,
.idea-factory--totals {
    font-size:90%;
}

.ah-thanks {
    line-height:0.9;
}